# Directories #
######################
__pycache__/*
glove/*
.ipynb_checkpoints/*
models/__pycache__
models/data/*
models/runs/*

# Files #
######################
.DS_Store
__init__.py
*.zip
*.p
*.ipynb
